---
# ensure mounted boot
- name: Override config.txt location for Raspberry Pi OS version before bookworm
  ansible.builtin.set_fact:
    hifiberry_config_dir: /boot
  when: ansible_distribution_major_version | int < 12

- name: Override Raspberry PI boot device default since raspberry_pi_boot_dev is set
  ansible.builtin.set_fact:
    hifiberry_rpi_boot_dev: "{{ raspberry_pi_boot_dev }}"
  when: raspberry_pi_boot_dev | default('', true) | trim != ''

- name: Mount boot
  ansible.posix.mount:
    path: "{{ hifiberry_config_dir }}"
    state: mounted
    src: "{{ hifiberry_rpi_boot_dev }}"
    fstype: vfat
  changed_when: false
  become: true
  become_user: root

- name: Disable original audio in config.txt
  ansible.builtin.lineinfile:
    path: "{{ hifiberry_config_dir }}/config.txt"
    regexp: "dtparam=audio=on"
    line: "#dtparam=audio=on"
    insertafter: "^# Enable audio (loads snd_bcm2835)"
  notify: Reboot required
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure config.txt file for hifi berry
  ansible.builtin.lineinfile:
    path: "{{ hifiberry_config_dir }}/config.txt"
    regexp: "dtoverlay={{ hifiberry_dtoverlay }}"
    line: "dtoverlay={{ hifiberry_dtoverlay }}"
    insertafter: "^#dtparam=audio=on"
  notify: Reboot required
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Configure config.txt file for hifi berry on RPi4
  ansible.builtin.lineinfile:
    path: "{{ hifiberry_config_dir }}/config.txt"
    regexp: "dtoverlay=vc4-kms-v3d"
    line: "dtoverlay=vc4-kms-v3d,noaudio"
  notify: Reboot required
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Deploy hifiberry modules file
  ansible.builtin.copy:
    src: hifiberry.conf
    dest: /etc/modprobe.d/hifiberry.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reboot required
  become: true
  become_user: root

# It is not clear if this is really required, it seems to work without it
- name: Deploy hifiberry asound.conf
  ansible.builtin.copy:
    src: asound.conf
    dest: /etc/asound.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reboot required
  become: true
  become_user: root

- name: Disable module snd_soc_bcm2708
  ansible.builtin.lineinfile:
    path: /etc/modules
    regexp: "snd_soc_bcm2708"
    line: "#snd_soc_bcm2708"
  notify: Reboot required
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Enable module bcm2708_dmaengine
  ansible.builtin.lineinfile:
    path: /etc/modules
    regexp: "bcm2708_dmaengine"
    line: "bcm2708_dmaengine"
  notify: Reboot required
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Enable module snd_soc_pcm5102a
  ansible.builtin.lineinfile:
    path: /etc/modules
    regexp: "snd_soc_pcm5102a"
    line: "snd_soc_pcm5102a"
  notify: Reboot required
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Disable module snd_soc_hifiberry_dac
  ansible.builtin.lineinfile:
    path: /etc/modules
    regexp: "snd_soc_hifiberry_dac"
    line: "#snd_soc_hifiberry_dac"
  notify: Reboot required
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root
